{% extends 'templates main/login_sub_base.html' %}
{% block exrecourse %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}
{% block home %}
    {% url 'index_regular' %}
{% endblock %}
{% block back %}
    {% url 'index_regular' %}
{% endblock %}
{% block user %}
    Regular
{% endblock %}
{% block login_sub_content %}
    <legend>LISTADO DE REGISTRO DE SOLICITUDES DE PLATO</legend>
    <br>
    {% if object_list %}
        <table class="table table-hover" id="solicitud_list_table">
            <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estudiante</th>
                <th scope="col">Plato</th>
                <th scope="col">ACCIÓN</th>
            </tr>
            </thead>
            <tbody>
            {% for solicitud in object_list %}
                <tr class="table-light">
                    <td>{{ solicitud.id }}</td>
                    <td>{{ solicitud.fecha_sol }}</td>
                    <th scope="row">{{ solicitud.estudiante }}</th>
                    <th>{{ solicitud.plato }}</th>
                    <th><a href="{% url 'del_solicitud' solicitud.id %}" class="btn btn-primary btn-sm btn-danger"><i
                            class="material-icons">delete</i></a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div align="center">
            <h4>¡Oh! No hay registro de solicitutes de plato.</h4>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#solicitud_list_table').DataTable();
        });
    </script>
{% endblock %}